
<div class="modal fade" id="usermodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑功能</h4>
            </div>

            <div class="modal-body" style="margin-top: 10px; margin-bottom:10px;">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="txtBtnCode" class="control-label">姓名</label>
                            <input type="text" class="form-control" id="Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Grade" class="control-label">年级</label>
                            @*<input type="text" id="Grade" class="form-control datepicker" data-start-view="2" >*@
                            <select size="1" id="dp_Grade">
                                <option value="2011" selected="selected">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="dp_sex" class="control-label">性别</label>
                            <select size="1" id="dp_sex">
                                <option value="男" selected="selected">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Nation" class="control-label">民族</label>
                            <input type="text" class="form-control" id="Nation">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="dp_department" class="control-label">系</label>
                            <select size="1" id="dp_department">
                                <option value="男" selected="selected">计算机</option>
                                <option value="女">机械</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="dp_major" class="control-label">专业</label>
                            <select size="1" id="dp_major">
                                <option value="男" selected="selected">计算机科学与技术</option>
                                <option value="女">网络工程</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="dp_profession" class="control-label">职业</label>
                            <select size="1" id="dp_profession">
                                <option value="0" selected="selected">管理员</option>
                                <option value="1">学生</option>
                                <option value="2">教师</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" onclick="AddOrUpdate();" class="btn btn-info">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>