
<div class="modal fade" id="majormodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑功能</h4>
            </div>

            <div class="modal-body" style="margin-top: 10px; margin-bottom:10px;">

                <div class="row" style="display:none;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="MajorId" class="control-label">ID</label>
                            <input type="text" class="form-control" id="MajorId" value="0">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ddlDepartment1">学院(系):</label>
                            <select id="ddlDepartment1" style="width:200px;">
                                <option value="0">--请选择--</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="MajorName" class="control-label">专业名称:</label>
                            <input type="text" class="form-control" id="MajorName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="MajorDescription" class="control-label">描述:</label>
                            <input type="text" class="form-control" id="MajorDescription">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnOperation" onclick="AddOrUpdate();" class="btn btn-info">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>