
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">专业管理</h3>
    </div>
    <div class="panel-body">
        <div id="msgInfo"></div>
        <div class="row">
            <div class="col-sm-12">
                <label for="ddlDepartment">学院(系):：</label>
                <select id="ddlDepartment" style="width:200px;">
                    <option value="0">--请选择--</option>
                </select>

                <input type="button" value="查询" id="btnQuery" style="margin-left:10px; margin-top:5px;" class="btn btn-secondary btn-sm btn-icon icon-left" />
                <input type="button" value="新增" onclick="ShowModal(0);" style="margin-left:10px; margin-top:5px;" class="btn btn-secondary btn-sm btn-icon icon-left" />

            </div>
        </div>
        <table class="table table-bordered table-striped" id="_MajorTable"></table>

    </div>
</div>

<script src="~/Areas/Admins/Scripts/Major/major.js"></script>